/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* LAYOUT GLOBAL */
.app-container {
    display: flex;
    min-height: 100vh;
    background: #f5f7fb;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: #1e2a4a;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
}

.logo {
    font-size: 20px;
    margin-bottom: 30px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.9;
}

.menu li:hover,
.menu li.active {
    background: #3b5bfc;
    opacity: 1;
}

/* CONTENU DROITE */
.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

/* ACCUEIL */
.accueil {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* HERO SECTION */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #3B5BFC 0%, #1E2A4A 100%);
    color: white;
    padding: 36px;
    border-radius: 16px;
}

.hero-text h2 {
    font-size: 24px;
    font-weight: 700;
}

.hero-text h2 span {
    color: #93c5fd;
}

.hero-text p {
    margin: 10px 0 20px;
    opacity: 0.85;
    font-size: 14px;
}

.hero-btns {
    display: flex;
    gap: 10px;
}

.btn-primary {
    background: #3b5bfc;
    color: white;
    padding: 12px 26px;   /* ➜ pi laj */
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    border: none;
    display: inline-block;
    transition: 0.2s;
}

.btn-primary:hover {
    background: #2f49d6;
}

.btn-outline {
    background: transparent;
    color: white;
    padding: 6px 6px;    /* ➜ pi etwat */
    border-radius: 5px;
    border: 0.5px solid white;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    transition: 0.2s;
    width: fit-content;   /* ➜ fè li pa pran twòp espas */
    white-space: nowrap;  /* ➜ pa kase tèks la */
}

.btn-outline:hover {
    background: white;
    color: #1e2a4a;
}

/* SERVICES */
.section-title {
    font-size: 16px;
    font-weight: 600;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.service-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(59,91,252,0.15);
}

.service-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

/* STATS */
.stats-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.stat-card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
}

.stat-num {
    font-size: 30px;
    font-weight: bold;
    color: #3b5bfc;
}