.connexion-page {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.connexion-page h2 {
  margin-bottom: 20px;
  color: #333;
}

.connexion-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.connexion-page input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.connexion-page input:focus {
  outline: none;
  border-color: #007bff;
}

.connexion-page button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: rgb(174, 174, 207);
  color:white
  (54, 19, 209);
  font-size: 16px;
  cursor: pointer;
}

/* .connexion-page button:hover {
  background-color: #0056b3;
} */

.connexion-page a {
  display: inline-block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
}

.connexion-page a:hover {
  text-decoration: underline;
}